.talentName {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  color: inherit;
}
.navigationclose24pxIcon {
  position: relative;
  width: 32px;
  height: 32px;
}
.talentNameParent {
  align-self: stretch;
  border-bottom: 1px solid var(--grey-300);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-29xl);
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--grey-900);
  font-family: var(--body-2);
}
.lightinput,
.lightinput1 {
  background-color: transparent;
}
.lightinput {
  align-self: stretch;
}
.lightinput1 {
  flex: 1;
}
.lightinputParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.lightinputInputtextarea,
.lightinputParent {
  align-self: stretch;
}
.verification {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--body-2);
  color: var(--grey-800);
  text-align: left;
}
.verificationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.talentIsVerified {
  margin: 0;
  position: relative;
  font-size: var(--body-1-medium-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--body-2);
  color: var(--grey-800);
  text-align: left;
}
.toggle {
  position: relative;
}
.talentVerification {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--grey-200);
  border: 1px solid var(--grey-300);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.buttonWrapper,
.createcontractdealDetails {
  align-self: stretch;
  display: flex;
  padding: var(--padding-13xl) var(--padding-29xl);
  align-items: flex-start;
}
.createcontractdealDetails {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.buttonWrapper {
  border-top: 2px solid var(--grey-300);
  flex-direction: row;
  justify-content: flex-end;
}
.createprofile,
.crmtalentinfot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.crmtalentinfot {
  align-self: stretch;
  flex: 1;
  background-color: var(--white-white);
  overflow-y: auto;
  flex-direction: column;
}
.createprofile {
  position: relative;
  width: 100%;
  height: 1108px;
  flex-direction: row;
}
